body{
  background-color: #FFC9C2;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  position: relative;
}

.cld{
  height: auto;
  width: 10%;
}

.cloud1{
  position: absolute;
  top: 900px;
  left: 250px;
  z-index: 2;
}

.cloud2{
  position: absolute;
  top: 200px;
  right: 450px;
  z-index: 2;
}

.cloud3{
  position: absolute;
  top: 1250px;
  right: 250px;
  z-index: 2;
}

.cloud4{
  position: absolute;
  top: 1800px;
  left: 300px;
  z-index: 2;
}

.cloud5{
  position: absolute;
  top: 2650px;
  right: 250px;
  z-index: 2;
}

.cloud6{
  position: absolute;
  top: 3350px;
  left: 250px;
  z-index: 2;
}

.web-box{
padding: 100px 0;
display: flex;
justify-content: center;
}

.content-box{
  background-color: WHITE;
  border-radius: 50px;
  height: 3350px;
  width: 1200px;
  position: relative;
}

.logo{
  height: 100%;
  width: 100%;
}

.title-image{
  height: auto;
  width: 60%;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50px;
}

ul{
  list-style-type: none;
  width: 300px;
  margin: 0;
  padding: 20px 0;
}

a{
  text-decoration: none;
}

ul,li{
  display: inline-block;
}

nav{
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 40px 540px 0 80px;
}

.nav-elements{
  color: #2B1E4B;
  font-weight: bold;
}

.title-content{
  text-align: left;
  padding-top: 100px;
  padding-left: 80px;
}

.main-heading{
  font-family: 'Paytone One', sans-serif;
  font-weight: bold;
  font-size: 65px;
  color: #2b1e4b;
  padding-bottom: 30px;
}

.main-tagline{
  color: #2b1e4b;
  font-size: 18px;
  padding-bottom: 20px;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #333592;
  border-radius: 100px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#2b1e4b 0 -3px 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Roboto', sans-serif;
  height: 55px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 15px;
}

.button-30:focus {
  box-shadow: #333592 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #2b1e4b 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #333592 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #2b1e4b 0 3px 7px inset;
  transform: translateY(2px);
}

h2{
  font-family: 'Paytone One', sans-serif;
  font-weight: bolder;
  font-size: 30px;
  color: #2b1e4b;
  padding-top: 130px;
}

.features1{
  height: auto;
  width: 51%;
  margin-bottom: 15px;
}

.features2{
  height: auto;
  width: 47%;
  margin-bottom: 15px;
}

.features3{
  height: auto;
  width: 60%;
  margin-bottom: 15px;
}

.col{
  padding-top: 60px;
}

#section3{
  text-align: left;
  padding-left: 80px;
  padding-bottom: 80px;
  position: relative;
}

.about-img{
  height: auto;
  width: 35%;
  position: absolute;
  top: 100px;
  right: 100px;
}

.about{
  font-family: 'Paytone One', sans-serif;
  font-weight: bolder;
  font-size: 65px;
  color: #2b1e4b;
  padding-top: 100px;
  padding-bottom: 30px;
}

.about-text{
  color: #2b1e4b;
  font-size: 18px;
  padding-bottom: 20px;
}

.section4{
  background-color: #c4a7df;
  padding-top: 80px;
  padding-bottom: 80px;
}

.menu-text{
  font-family: 'Paytone One', sans-serif;
  font-weight: bolder;
  font-size: 65px;
  color: #333592;
  display: inline-block;
  text-align: left;
}

.menu-image1{
  display: inline-block;
  text-align: left;
  height: auto;
  width: 25%;
  margin-right: 50px;
}

.menu-image2{
  display: inline-block;
  text-align: left;
  height: auto;
  width: 25%;
  margin-right: 50px;
}

.menu{
  font-family: 'Paytone One', sans-serif;
  font-weight: bolder;
  font-size: 65px;
  color: #2b1e4b;
  padding-bottom: 60px;
  text-align: left;
  padding-left: 80px;
}

#section5{
  height: 400px;
  margin: 60px 50px;
  border-radius: 50px;
  background-color: #333592;
  position: relative;
}

.delivery{
  font-family: 'Paytone One', sans-serif;
  font-weight: bolder;
  font-size: 45px;
  color: white;
  padding-top: 70px;
  padding-bottom: 10px;
  padding-left: 80px;
  text-align: left;
}

.delivery-text{
  text-align: left;
  color: white;
  padding-left: 80px;
  font-weight: normal;
  font-size: 20px;
}

form{
  text-align: left;
  padding-left: 76px;
  padding-top: 15px;
}

.order{
  height: auto;
  width: 40%;
  position: absolute;
  top: 11px;
  right: 40px;
}

input[type="text"] {
  background-color: #ffffff;
  font-size: 16px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 50px;
  width: 300px;
}

ul {
  list-style: none;
}

.list {
  margin-top: 10px;
  width: 300px;
  max-height: 668px;
  overflow-y: auto;
}

.list-items {
  display: block;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #333592;
  background-color: white;
}

.list-items:hover {
  background-color: #efefef;
}

#section6{
  padding-left: 80px;
  padding-top: 50px;
}

.contact-form{
  background-color: #c4a7df;
  height: 800px;
  width: 700px;
  border-radius: 10px;
  text-align: left;
  padding-top: 50px;
  padding-left: 50px;
  position: relative;
}

.contact{
  font-family: 'Paytone One', sans-serif;
  font-weight: bolder;
  font-size: 65px;
  color: #2b1e4b;
  text-align: left;
  padding-bottom: 50px;
}

.bar{
  height: auto;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.pic{
  height: auto;
  width: 30%;
  padding-top: 30px;
  padding-left: 5px;
}

.contactform{
  text-align: left;
  padding: 0;
  width: 600px;
  padding-top: 70px;
}

.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}
